#container {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
label {
  margin-top: 1rem;
}
input,
textarea {
  border-radius: 3px;
  padding: 5px;
}

button {
  margin-top: 2rem;
  padding: 1rem;
  width: 30%;
}
.error {
  color: red;
}
